/* 
FONT STYLES
Normal Text - Playpen+Sans
AKC-LOGO - megrim
MAIN HEADING - Loved+by+the+King
*/
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Playpen Sans', sans-serif;
}

body{
	background-color: #f5f5f5;
	font-family: 'Playpen Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	font-weight: 400;
	overflow-x: hidden;
	background-color: #FAACA8;
	background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
	background-repeat: no-repeat;
	height: 100vh;
}

a{
	text-decoration: none;
}

.cont{
	width: 90vw;
	margin: 0 auto;
}

.main-head{
	font-family: 'Loved by the King', cursive;
	font-size: 4rem;
	color: #4C404F;
	text-align: center;
	margin-top: 2rem;
	text-shadow: 1px 1px 4px;
}
.head-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.clk-btn-txt{
	color: #4C404F;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 2rem;
}
.rm-2{
	font-size: 2rem;
}
.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 600,
	'GRAD' 0,
	'opsz' 24
}

#fact{
	border: none;
	background-color: #EFCEFA;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border-radius: 13px;
	transition: 0.1s ease-in-out;
	box-shadow: #826C7F 1px 1px 10px;
	margin: 1rem 0;
	cursor: pointer;
}

#fact:hover{
	box-shadow: #826C7F 1px 1px 7px;
	scale: 1.04;
	translate:0px -5px;
}

#fact:active{
	box-shadow: #826C7F 1px 1px 2px;
	scale: 1.05;
}

.fact-btns{
	margin: 2rem 0.5rem;
}

.fact-cont{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #faaca871;
	padding: 20px;
	border-radius: 20px;
	border:2px solid #4c404f31;
	box-shadow: #4C404F 1px 1px 12px;
}

#fact-txt{
	font-size: calc(1.3rem + 0.5vw);
	text-align: center;
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #faaca8bd 0%, #f1a29e93 100%);
	padding: 20px;
	border-radius: 13px;
	box-shadow: #585858 1px 1px 5px;
	color: black;
	transition: 0.3s ease-in-out;
}	

#fact-txt:hover{
	box-shadow: #585858 1px 1px 8px;
	/* scale: 1.02; */
	translate: 0px -5px;
}

.btn-cont{
	display: flex;
	gap: 20px;
	justify-content: space-around;
	margin: 1rem 0;
}

.btn{
	display: flex;
	text-align: center;
	justify-content: center;
	border: none;
	background-color: #EFCEFA;
	color: #333;
	padding: 8px;
	border-radius: 13px;
	box-shadow: #333 1px 1px 4px;
}

.btn > .material-symbols-outlined{
	margin: auto 0;
	font-size: 1rem;
}

#share{
	cursor: copy;
}



.tooltip {
	position: relative;
	display: inline-block;
}
  
.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.footer{
	width: 100vw;
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: 0;
}

.footer > a{
	color: #4C404F;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.fact-cont{
		width: 80vw;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1024px) {
	.fact-cont{
		width: 50vw;
		margin: 0 auto;
	}
}